<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /quanly_cho/

    # Ngăn việc truy cập danh sách thư mục
    Options -Indexes

    # Nếu là file hoặc thư mục thực tế thì truy cập trực tiếp
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Chuyển mọi request khác về index.php kèm theo query string
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
